<app-header titulo="Button"></app-header> 

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <b>Haga clic en un boton para ver el efecto</b>
  
    <div class="ion-activatable ripple-parent custom-parent">
      Color principal personalizado
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  
    <div class="ion-activatable ripple-parent">
      Color de ondulación personalizado
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
    </div>
  </div>
</ion-content>
